

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    margin-top: 2%;
    margin-right: 4%;
    cursor: pointer;

}

button:hover {
    text-shadow: 4px 4px 4px  #AE8AE8;
    box-shadow: 2px 2px 2px  #ae8ae841;
}




